### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Java ###
*.class                 # 添加这一行来忽略所有 .class 文件
target/                 # 添加这一行来忽略 Maven 构建目录

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store